<div class="cart-head">
  <h1>{{ items.length ? "Your cart" : "Your cart is empty" }}</h1>
  <a [routerLink]="['/home']">Continue shopping</a>
</div>
@if(items.length){
<div class="list-header">
  <div class="w-900">PRODUCT</div>
  <div class="price">PRICE</div>
  <div>QUONTITY</div>
  <div class="total">TOTAL</div>
</div>
<hr />
@for(item of items; track item.id){
<div class="list-head">
  <div class="cart-product">
    <img class="cart-image" [src]="item.image" />
    <p class="cart-title">{{ item.title }}</p>
  </div>
  <div class="price">
    {{ item.price | currency }}
  </div>
  <div class="cart-quontity">
    <button (click)="plusOneItem(item)" class="cart-button">+</button>
    <span>{{ item.count }}</span>
    <button (click)="minusOneItem(item)" class="cart-button">-</button>
  </div>
  <div class="total">{{ item.price * item.count | currency }}</div>
</div>

}
<hr />
<div class="table-footer">
  <button (click)="clearCart()" class="clear-button">Clear cart</button>
  <div class="cart-total">
    <span class="cart-total-title">Subtotal:</span>
    <span>{{ total | currency }}</span>
  </div>
</div>
}
